#cl{
    position: absolute;
    width: 208px;
    height: 25px;
    left: 70px;
    top: 110%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #0E333D;
}
#add{
    position: absolute;
    width: 99px;
    height: 40px;
    left: 88%;
    top:110%;
    background: #0E333D;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.nome-perfil{
    width: 80%;
    outline:none;  /*remove as bordas do input*/
    font-size: 20px;
}
#content{
    position: absolute;
    display:flex;
    left:2%;
    right: 7%;
    top: 200px;
    width: 92%;
}
.field-1{
    top: 140%;
    left: 1%;
    width: 100%;
    padding: 10px;
    margin: 20px;
    border: 1px solid rgb(90, 88, 88);
    border-radius: 5px;
    color: rgb(126, 138, 126);
}
legend{
    font-size: 24px;
}
#content-2{
    position: absolute;
    display:flex;
    left:2%;
    right: 7%;
    top: 400px;
    width: 92%;
    visibility: hidden;
}
.field-2{
    top: 140%;
    left: 1%;
    width: 100%;
    padding: 10px;
    margin: 20px;
    border: 1px solid rgb(90, 88, 88);
    border-radius: 5px;
    color: rgb(126, 138, 126);
}
#altera{
    position: absolute;
    top: 350px;
    left:60px;
    font-size: 20px;
    cursor: pointer;
}
@media(max-width:1600px){
    #add{
        position: absolute;
        left: 86%;
    }
}
@media(max-width:1300px){
    #add{
        position: absolute;
        left: 84%;
    }
    #cl{
        position: absolute;
        font-size: 23px;
        left: 50px;

    }
    .nome-perfil{
        width: 90%;
        font-size: 18px;
    }
    #content legend{
        font-size: 18px;
    }
    .field-2 legend{
        font-size: 18px;
    }
    .field-2{
        padding: 10px;
    }
}
@media(max-width:1100px){
    #add{
        position: absolute;
        left: 83%;
    }
}
@media(max-width:1000px){
    #add{
        position: absolute;
        left: 79%;
        width: 86px;
    }
    #cl{
        position: absolute;
        font-size: 21px;
        left: 50px;

    }
    legend{
        font-size: 20px;
    }
    
}
@media(max-width:800px){
    #add{
        position: absolute;
        left: 77%;
    }
    #cl{
        position: absolute;
        font-size: 21px;
        left: 50px;

    }
    legend{
        font-size: 18px;
    }
    .field-2{
        top: 140%;
        left: 1%;
        width: 700px;
        height: 53px;
        padding: 1px;
        margin: 20px;
        font-size: 14px;
    }
    
    #altera{
        left:60px;
        font-size: 18px;
    }
    .field-2 legend{
        font-size: 14px;
    }
    .field-2 .nome-perfil{
        width: 90%;
        height: 80%;
    }
    
}
@media(max-width:700px){
    #add{
        position: absolute;
        left: 77%;
        width: 79px;
    }
    #cl{
        position: absolute;
        font-size: 21px;
        left: 50px;

    }
    legend{
        font-size: 20px;
    }
    .nome-perfil{
        width: 90%;
        font-size: 14px;
    }
    .field-2{
        top: 140%;
        left: 1%;
        width: 700px;
        height: 50px;
        padding: 3px;
        margin: 15px;
        font-size: 10px;
    }
    .field-2 legend{
        font-size: 12px;
    }
    .field-2 .nome-perfil{
        width: 90%;
        height: 70%;
    }
    
}