*{
    padding: 0;
    margin: 0;
    border: none;
    margin-bottom: 0px;
}
#img-fundo {
    position: absolute;
    width: 1229px;
    height: 969px;
    top: 0px;
    left: 0px;
    background: url(vs1\ 1.png);
    background-size: cover;
}
#espaço-branco {
    position: absolute;
    width: 1176px;
    height: 969px;
    left: 726px;
    top: 0px;
    background: #FFFFFF;
    clip-path: ellipse(104% 99% at 104% );
}
#content {
    position: absolute;
    left: 370px;
    right: 7%;
    top: 254px;
    width: 62%;
}
.field-1 {
    top: 140%;
    left: 19%;
    width: 53%;
    padding: 16px;
    margin: 20px;
    border: 1px solid rgb(90, 88, 88);
    border-radius: 5px;
    color: rgb(126, 138, 126);
}
legend{
    font-size: 20px;
}
.nome-perfil{
    width: 80%;
    outline:none;  /*remove as bordas do input*/
    font-size: 20px;
}
#entrar{
    position: absolute;
    left: 20px;
    width: 421px;
    height: 50px;
    background: #0E333D;
    border-radius: 10px;
    font-family: 'Inter''sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    cursor: pointer;
}
.txt {
    position: absolute;
    left: 478px;
    top: 220px;
    font-family: 'Inter' 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 29px;
    line-height: 35px;
    text-align: center;
    color: #0E333D;
}
.txt-2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #0E333D;
}
#content-2 {
    position: absolute;
    left: 573px;
    top: 745px;
    line-height: 35px;
    text-align: center;
    color: #0E333D;
}
#conteudo{
    position: absolute;
    width: 100%;
}
a{
    text-decoration: none;
}
#logo{
    position: absolute;
    width: 254px;
    height: 112px;
    left: 52px;
    top: 42px;
}

@media(max-width:1900px){
    #img-fundo {
        position: absolute;
        width: 1231px;
        height: 99.3%;
        top: 0px;
        left: 0px;
        background: url(vs1\ 1.png);
        background-size: cover;
    }
    #espaço-branco {
        position: absolute;
        width: 986px;
        height: 99.3%;
        left: 726px;
        top: 0px;
        background: #FFFFFF;
        clip-path: ellipse(104% 99% at 104% );
    }
    #conteudo{
        position: absolute;
        width: 100%;
        left: 20px;
    }
}
@media(max-width:1800px){
    #img-fundo {
        position: absolute;
        width: 1231px;
        height: 100.3%;
        top: 0px;
        left: 0px;
        background: url(vs1\ 1.png);
        background-size: cover;
    }
    #espaço-branco {
        position: absolute;
        width: 967px;
        height: 100.3%;
        left: 609px;
        top: 0px;
        background: #FFFFFF;
        clip-path: ellipse(104% 99% at 104% );
    }
    #conteudo {
        position: absolute;
        width: 148%;
        left: -176px;
    }
    .field-1 {
        top: 140%;
        left: 19%;
        width: 57%;
        padding: 16px;
        margin: 20px;
        border: 1px solid rgb(90, 88, 88);
        border-radius: 5px;
        color: rgb(126, 138, 126);
    }
    #content {
        position: absolute;
        left: 370px;
        right: 7%;
        top: 254px;
        width: 69%;
    }
    #content-2 {
        left: 572px;
        top: 731px;
    }
    .txt{
        left:449px
    }
}
@media(max-width:1700px){
    #img-fundo {
        position: absolute;
        width: 1231px;
        height: 101.3%;
        top: 0px;
        left: 0px;
        background: url(vs1\ 1.png);
        background-size: cover;
    }
    #espaço-branco {
        position: absolute;
        width: 701px;
        height: 101.3%;
        left: 593px;
        top: 0px;
        background: #FFFFFF;
        clip-path: ellipse(104% 99% at 104% );
    }    
    #conteudo {
        position: absolute;
        width: 148%;
        left: -176px;
    }
    .field-1 {
        top: 140%;
        left: 19%;
        width: 57%;
        padding: 16px;
        margin: 20px;
        border: 1px solid rgb(90, 88, 88);
        border-radius: 5px;
        color: rgb(126, 138, 126);
    }
    #content {
        position: absolute;
        left: 370px;
        right: 7%;
        top: 254px;
        width: 93%;
    }
    #content-2 {
        left: 572px;
        top: 731px;
    }
    .txt {
        left: 460px;
    }
}
@media(max-width:1600px){
    #img-fundo {
        position: absolute;
        width: 1231px;
        height: 122.3%;
        top: 0px;
        left: 0px;
        background: url(vs1\ 1.png);
        background-size: cover;
    }
    #espaço-branco {
        position: absolute;
        width: 826px;
        height: 122.3%;
        left: 726px;
        top: 0px;
        background: #FFFFFF;
        clip-path: ellipse(104% 99% at 104% );
    }
    #conteudo {
        position: absolute;
        width: 130%;
        left: -176px;
    }
    .field-1 {
        top: 140%;
        left: 19%;
        width: 57%;
        padding: 16px;
        margin: 20px;
        border: 1px solid rgb(90, 88, 88);
        border-radius: 5px;
        color: rgb(126, 138, 126);
    }
    #content-2 {
        left: 600px;
        top: 733px;
    }
    #entrar{
        width: 476px;
    }
    .txt {
        left: 490px;
    }
}
@media(max-width:1500px){
    #img-fundo {
        position: absolute;
        width: 1231px;
        height: 114.3%;
        top: 0px;
        left: 0px;
        background: url(vs1\ 1.png);
        background-size: cover;
    }
    #espaço-branco {
        position: absolute;
        width: 827px;
        height: 114.3%;
        left: 674px;
        top: 0px;
        background: #FFFFFF;
        clip-path: ellipse(104% 99% at 104% );
    }
    #conteudo {
        position: absolute;
        width: 130%;
        left: -176px;
        top: 94px;
    }
    #conteudo-tudo {
        position: absolute;
        width: 87%;
        left: -146px;
        top: -88px;
    }
    .field-1 {
        top: 140%;
        left: 19%;
        width: 57%;
        padding: 16px;
        margin: 20px;
        border: 1px solid rgb(90, 88, 88);
        border-radius: 5px;
        color: rgb(126, 138, 126);
    }
    .txt {
        left: 313px;
        top: 146px;
    }
    #entrar {
        width: 416px;
    }
    #content-2 {
        left: 569px;
        top: 733px;
    }
}
@media(max-width:1400px){
    #img-fundo {
        position: absolute;
        width: 1231px;
        height: 120.3%;
        top: 0px;
        left: -67px;
        background: url(vs1\ 1.png);
        background-size: cover;
    }
    #espaço-branco {
        position: absolute;
        width: 707px;
        height: 120.3%;
        left: 581px;
        top: 0px;
        background: #FFFFFF;
        clip-path: ellipse(104% 99% at 104% );
    }
    #conteudo {
        position: absolute;
        width: 147%;
        left: -246px;
        top: 94px;
    }
    #content {
        position: absolute;
        left: 370px;
        right: 7%;
        top: 254px;
        width: 93%;
    }
    .field-1 {
        top: 140%;
        left: 19%;
        width: 57%;
        padding: 16px;
        margin: 20px;
        border: 1px solid rgb(90, 88, 88);
        border-radius: 5px;
        color: rgb(126, 138, 126);
    }
    #entrar {
        width: 367px;
    }
    #content-2 {
        left: 548px;
        top: 731px;
    }
}
@media(max-width:1300px){
    #img-fundo {
        position: absolute;
        width: 1231px;
        height: 120.3%;
        top: 0px;
        left: -67px;
        background: url(vs1\ 1.png);
        background-size: cover;
    }
    #espaço-branco {
        position: absolute;
        width: 707px;
        height: 120.3%;
        left: 581px;
        top: 0px;
        background: #FFFFFF;
        clip-path: ellipse(104% 99% at 104% );
    }
    #conteudo {
        position: absolute;
        width: 147%;
        left: -246px;
        top: 94px;
    }
    .field-1 {
        top: 140%;
        left: 19%;
        width: 57%;
        padding: 16px;
        margin: 20px;
        border: 1px solid rgb(90, 88, 88);
        border-radius: 5px;
        color: rgb(126, 138, 126);
    }
    #entrar {
        width: 364px;
    }
    legend {
        font-size: 15px;
    }
    #content-2 {
        left: 547px;
        top: 717px;
    }
}
@media(max-width:1200px){
    #img-fundo {
        position: absolute;
        width: 1231px;
        height: 130.3%;
        top: 0px;
        left: -268px;
        background: url(vs1\ 1.png);
        background-size: cover;
    }
    #espaço-branco {
        position: absolute;
        width: 743px;
        height: 130.3%;
        left: 326px;
        top: 0px;
        background: #FFFFFF;
        clip-path: ellipse(103% 99% at 102% );
    }
    #conteudo {
        position: absolute;
        width: 145%;
        left: -176px;
        top: 94px;
    }
    .field-1 {
        top: 140%;
        left: 19%;
        width: 57%;
        padding: 16px;
        margin: 20px;
        border: 1px solid rgb(90, 88, 88);
        border-radius: 5px;
        color: rgb(126, 138, 126);
    }
}
@media(max-width:1100px){
    #img-fundo {
        position: absolute;
        width: 1231px;
        height: 130.3%;
        top: 0px;
        left: -268px;
        background: url(vs1\ 1.png);
        background-size: cover;
    }
    #espaço-branco {
        position: absolute;
        width: 873px;
        height: 130.3%;
        left: 206px;
        top: 0px;
        background: #FFFFFF;
        clip-path: ellipse(103% 105% at 103% );
    }
    #conteudo {
        position: absolute;
        width: 122%;
        left: -176px;
        top: 94px;
    }
    .field-1 {
        top: 140%;
        left: 19%;
        width: 57%;
        padding: 16px;
        margin: 20px;
        border: 1px solid rgb(90, 88, 88);
        border-radius: 5px;
        color: rgb(126, 138, 126);
    }
    #entrar {
        width: 426px;
    }
    #content-2 {
        left: 567px;
        top: 717px;
    }
    .txt {
        left: 325px;
    }
}
@media(max-width:1000px){
    #img-fundo {
        position: absolute;
        width: 1182px;
        height: 130.3%;
        top: 0px;
        left: -268px;
        background: url(vs1\ 1.png);
        background-size: cover;
    }
    #espaço-branco {
        position: absolute;
        width: 857px;
        height: 130.3%;
        left: 58px;
        top: 0px;
        background: #FFFFFF;
        clip-path: ellipse(103% 105% at 103% );
    }    
    #conteudo {
        position: absolute;
        width: 115%;
        left: -176px;
        top: 94px;
    }
    .field-1 {
        top: 140%;
        left: 19%;
        width: 57%;
        padding: 16px;
        margin: 20px;
        border: 1px solid rgb(90, 88, 88);
        border-radius: 5px;
        color: rgb(126, 138, 126);
    }
}
@media(max-width:900px){
    #img-fundo {
        width: 1117px;
    }
    #espaço-branco {
        position: absolute;
        width: 800px;
        height: 130.3%;
        left: 58px;
        top: 0px;
        background: #FFFFFF;
        clip-path: ellipse(103% 105% at 103% );
    }
    #conteudo {
        position: absolute;
        width: 115%;
        left: -176px;
        top: 94px;
    }
    #conteudo {
        position: absolute;
        width: 115%;
        left: -176px;
        top: 94px;
    }
    .field-1 {
        top: 140%;
        left: 17%;
        width: 57%;
        padding: 10px;
        margin: 20px;
        border: 1px solid rgb(90, 88, 88);
        border-radius: 5px;
        color: rgb(126, 138, 126);
    }
    #entrar {
        width: 326px;
    }
    #content-2 {
        left: 545px;
        top: 753px;
    }
    #content {
        position: absolute;
        left: 393px;
        right: 7%;
        top: 348px;
        width: 77%;
    }
    .txt {
        position: absolute;
        left: 324px;
        top: 220px;
        font-family: 'Inter' 'sans-serif';
        font-style: normal;
        font-weight: 600;
        font-size: 21px;
        line-height: 35px;
        text-align: center;
        color: #0E333D;
    }
    .txt-2 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 19px;
        text-align: center;
        color: #0E333D;
    }
}
@media(max-width:800px){
    #img-fundo {
        width: 1016px;
    }
    #espaço-branco {
        position: absolute;
        width: 716px;
        height: 130.3%;
        left: 34px;
        top: 0px;
        background: #FFFFFF;
        clip-path: ellipse(111% 110% at 100% );
    }
    #conteudo {
        position: absolute;
        width: 123%;
        left: -216px;
        top: 94px;
    }
    #conteudo {
        position: absolute;
        width: 122%;
        left: -216px;
        top: 94px;
    }
    .field-1 {
        top: 140%;
        left: 17%;
        width: 57%;
        padding: 10px;
        margin: 20px;
        border: 1px solid rgb(90, 88, 88);
        border-radius: 5px;
        color: rgb(126, 138, 126);
    }
    #entrar {
        width: 258px;
    }
    #content-2 {
        left: 525px;
        top: 738px;
    }
    #content {
        position: absolute;
        left: 406px;
        right: 7%;
        top: 326px;
        width: 64%;
    }
    .txt {
        position: absolute;
        left: 324px;
        top: 220px;
        font-family: 'Inter' 'sans-serif';
        font-style: normal;
        font-weight: 600;
        font-size: 21px;
        line-height: 35px;
        text-align: center;
        color: #0E333D;
    }
    .txt-2 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 19px;
        text-align: center;
        color: #0E333D;
    }
}
@media(max-width:700px){
    #img-fundo {
        width: 811px;
    }
    #espaço-branco {
        position: absolute;
        width: 600px;
        height: 130.3%;
        left: -36px;
        top: 0px;
        background: #FFFFFF;
        clip-path: ellipse(111% 110% at 100% );
    }
    #conteudo {
        position: absolute;
        width: 122%;
        left: -216px;
        top: 94px;
    }
    #conteudo {
        position: absolute;
        width: 122%;
        left: -171px;
        top: 94px;
    }
    .nome-perfil {
        width: 80%;
        outline: none;
        font-size: 14px;
    }
    .field-1 {
        top: 140%;
        left: 17%;
        width: 57%;
        padding: 10px;
        margin: 20px;
        border: 1px solid rgb(90, 88, 88);
        border-radius: 5px;
        color: rgb(126, 138, 126);
    }
    #entrar {
        width: 210px;
    }
    #content-2 {
        left: 499px;
        top: 738px;
    }
    #content {
        position: absolute;
        left: 406px;
        right: 7%;
        top: 326px;
        width: 64%;
    }
    .txt {
        position: absolute;
        left: 302px;
        top: 220px;
        font-family: 'Inter' 'sans-serif';
        font-style: normal;
        font-weight: 600;
        font-size: 21px;
        line-height: 35px;
        text-align: center;
        color: #0E333D;
    }
    .txt-2 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 19px;
        text-align: center;
        color: #0E333D;
    }
}
@media(max-width:600px){
    #img-fundo {
        width: 776px;
    }
    #espaço-branco {
        position: absolute;
        width: 546px;
        height: 130.3%;
        left: -36px;
        top: 0px;
        background: #FFFFFF;
        clip-path: ellipse(111% 110% at 100% );
    }
    #conteudo {
        position: absolute;
        width: 122%;
        left: -237px;
        top: 94px;
    }
    .nome-perfil {
        width: 80%;
        outline: none;
        font-size: 14px;
    }
    .field-1 {
        top: 140%;
        left: 17%;
        width: 57%;
        padding: 10px;
        margin: 20px;
        border: 1px solid rgb(90, 88, 88);
        border-radius: 5px;
        color: rgb(126, 138, 126);
    }
    #entrar {
        width: 210px;
    }
    #content-2 {
        left: 459px;
        top: 728px;
    }
    #content {
        position: absolute;
        left: 357px;
        right: 7%;
        top: 326px;
        width: 70%;
    }
    .txt {
        position: absolute;
        left: 254px;
        top: 220px;
        font-family: 'Inter' 'sans-serif';
        font-style: normal;
        font-weight: 600;
        font-size: 21px;
        line-height: 35px;
        text-align: center;
        color: #0E333D;
    }
    .txt-2 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 19px;
        text-align: center;
        color: #0E333D;
    }
}
@media(min-height:1000px){
    #img-fundo {
        position: absolute;
        width: 1229px;
        height: 961px;
        top: 0px;
        left: 0px;
        background: url(vs1\ 1.png);
        background-size: cover;
    }
    #espaço-branco {
        position: absolute;
        width: 1176px;
        height: 961px;
        left: 726px;
        top: 0px;
        background: #FFFFFF;
        clip-path: ellipse(104% 99% at 104% );
    }
    
}