* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
#vs1{
    /* vs1 1 */
    position: absolute;
    width: 1821px;
    height: 1024px;
    left: -521px;
    top: 0px;
    background: url(vs1.png);
}
