th{
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 22px;
    color: #000000;
}
td{
    border-top: 1px solid black;
    position: absolute;
    width: 100%;
    height:100px;
    left: 0px;
    border-collapse: collapse;
}
table{
    position: absolute;
    width: 90%;
    height: 706px;
    left: 70px;
    top: 210px;
    background: #FFFFFF;
    border: 1px solid #494848;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 100px;
}
#add{
    position: absolute;
    width: 99px;
    height: 40px;
    left: 1584px;
    top: 170px;
    background: #0E333D;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
#model{
    position: absolute;
    width: 208px;
    height: 25px;
    left: 5%;
    top:155px;
    font-family: 'Inter var', sans-serif; 
    font-weight: 700px;
    font-size: 22px;
    line-height: 31px;
    color: #000000;
}
#white{
    background: #FFFFFF;
    width: 300px;
}
@media(max-width:1800px){
    table{
        position: absolute;
        width: 85%;
        height: 870px;
        left: 70px;
        top: 220px;
        background: #FFFFFF;
        border: 1px solid #494848;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        font-family: 'Inter', sans-serif;
        margin-bottom: 100px;
    }
    #add{
        position: absolute;
        width: 99px;
        height: 40px;
        left: 1550px;
        top: 170px;
        background: #0E333D;
        border-radius: 10px;
        color: white;
        cursor: pointer;
    }
    td{
        border-top: 1px solid black;
        position: absolute;
        width: 100%;
        height: 20px;
        left: 0px;
        border-collapse: collapse;
    }
    
}
@media(max-width:1700px){
    table{
        position: absolute;
        width: 85%;
        height: 670px;
        left: 70px;
        top: 220px;
        background: #FFFFFF;
        border: 1px solid #494848;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        font-family: 'Inter', sans-serif;
        margin-bottom: 100px;
    }
    #add{
        position: absolute;
        width: 99px;
        height: 40px;
        left: 1500px;
        top: 170px;
        background: #0E333D;
        border-radius: 10px;
        color: white;
        cursor: pointer;
    }
    td{
        border-top: 1px solid black;
        position: absolute;
        width: 100%;
        height: 20px;
        left: 0px;
        border-collapse: collapse;
    }
    
}
@media(max-width:1600px){
    #add{
        position: absolute;
        width: 99px;
        height: 40px;
        left: 1400px;
        top: 170px;
        background: #0E333D;
        border-radius: 10px;
        color: white;
        cursor: pointer;
    }
}
@media(max-width:1500px){
    #add{
        position: absolute;
        width: 99px;
        height: 40px;
        left: 1300px;
        top: 170px;
        background: #0E333D;
        border-radius: 10px;
        color: white;
        cursor: pointer;
    }
}
@media(max-width:1400px){
    table{
        position: absolute;
        width: 85%;
        height: 670px;
        left: 70px;
        top: 220px;
        background: #FFFFFF;
        border: 1px solid #494848;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        font-family: 'Inter', sans-serif;
        margin-bottom: 100px;
    }
    td{
        border-top: 1px solid black;
        position: absolute;
        width: 100%;
        height: 20px;
        left: 0px;
        border-collapse: collapse;
    }
    #add{
        position: absolute;
        width: 99px;
        height: 40px;
        left: 1100px;
        top: 170px;
        background: #0E333D;
        border-radius: 10px;
        color: white;
        cursor: pointer;
    }
    
}
@media(max-width:1300px){
    table{
        position: absolute;
        width: 85%;
        height: 590px;
        left: 70px;
        top: 220px;
        background: #FFFFFF;
        border: 1px solid #494848;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        font-family: 'Inter', sans-serif;
        margin-bottom: 100px;
    }
    td{
        border-top: 1px solid black;
        position: absolute;
        width: 100%;
        height: 20px;
        left: 0px;
        border-collapse: collapse;
    }
    #add{
        position: absolute;
        width: 99px;
        height: 40px;
        left: 1050px;
        top: 170px;
        background: #0E333D;
        border-radius: 10px;
        color: white;
        cursor: pointer;
    }
    
}
@media(max-width:1200px){
    table{
        position: absolute;
        width:90%;
        height: 806px;
        left: 70px;
        top: 240px;
        background: #FFFFFF;
        border: 1px solid #494848;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        font-family: 'Inter', sans-serif;
        margin-bottom: 100px;
    }
    #model{
        position: absolute;
        width: 208px;
        height: 25px;
        left: 5%;
        top: 170px;
        font-family: 'Inter var', sans-serif; 
        font-weight: 700px;
        font-size: 18px;
        line-height: 31px;
        color: #0E333D;
    }
    th{
        line-height: 15px;
        color: #000000;
    }
    th{
        padding-top: 2%;
        padding-bottom: 2%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 22px;
        color: #000000;
    }
    #add{
        position: absolute;
        width: 99px;
        height: 40px;
        left: 980px;
        top: 170px;
        background: #0E333D;
        border-radius: 10px;
        color: white;
        cursor: pointer;
    }
    
}
@media(max-width:1100px){
    table{
        position: absolute;
        width: 88%;
        height: 606px;
        left: 70px;
        top: 240px;
        background: #FFFFFF;
        border: 1px solid #494848;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        font-family: 'Inter', sans-serif;
        margin-bottom: 100px;
    }
    th{
        padding-top: 2%;
        padding-bottom: 2%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #000000;
    }
    #add{
        position: absolute;
        width: 99px;
        height: 40px;
        left: 880px;
        top: 170px;
        background: #0E333D;
        border-radius: 10px;
        color: white;
        cursor: pointer;
    }
    
}
@media(max-width:1000px){
    table{
        position: absolute;
        width: 85%;
        height: 506px;
        right: 200%;
        top: 240px;
        background: #FFFFFF;
        border: 1px solid #494848;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        font-family: 'Inter', sans-serif;
        margin-bottom: 100px;
    }
    th{
        padding-top: 2%;
        padding-bottom: 2%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
        color: #000000;
    }
    #add{
        position: absolute;
        width: 99px;
        height: 40px;
        left: 780px;
        top: 170px;
        background: #0E333D;
        border-radius: 10px;
        color: white;
        cursor: pointer;
    }
    
}
@media(max-width:900px){
    table{
        position: absolute;
        width: 84%;
        height: 506px;
        top: 239px;
        background: #FFFFFF;
        border: 1px solid #494848;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        font-family: 'Inter', sans-serif;
        margin-bottom: 100px;
    }
    th{
        line-height: 5px;
        color: #000000;
    }
    #add{
        position: absolute;
        width: 99px;
        height: 40px;
        left: 680px;
        top: 170px;
        background: #0E333D;
        border-radius: 10px;
        color: white;
        cursor: pointer;
    }
    
}
@media(max-width:800px){
    table{
        position: absolute;
        width: 88%;
        height: 406px;
        left: 20px;
        top: 240px;
        background: #FFFFFF;
        border: 1px solid #494848;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        font-family: 'Inter', sans-serif;
        margin-bottom: 100px;
    }
    th{
        line-height: 5px;
        color: #000000;
    }
    #add{
        position: absolute;
        width: 99px;
        height: 40px;
        left: 580px;
        top: 170px;
        background: #0E333D;
        border-radius: 10px;
        color: white;
        cursor: pointer;
    }
    
}
@media(max-width:700px){
    table{
        position: absolute;
        width: 80%;
        height: 306px;
        left: 10px;
        top: 240px;
        background: #FFFFFF;
        border: 1px solid #494848;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        font-family: 'Inter', sans-serif;
        margin-bottom: 100px;
    }
    th{
        line-height: 5px;
        color: #000000;
        font-size: 8px;
    }
    td{
        border-top: 1px solid black;
        position: absolute;
        width: 100%;
        height: 33px;
        left: 0px;
        border-collapse: collapse;
    }
    #add{
        position: absolute;
        width: 92px;
        height: 33px;
        left: 480px;
        top: 170px;
        background: #0E333D;
        border-radius: 10px;
        color: white;
        cursor: pointer;
    }
    
}
@media(max-width:600px){
    table{
        position: absolute;
        width: 85%;
        height: 306px;
        left: 43px;
        top: 240px;
        background: #FFFFFF;
        border: 1px solid #494848;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        font-family: 'Inter', sans-serif;
        margin-bottom: 100px;
    }
    th{
        line-height: 5px;
        color: #000000;
    }
    #add{
        position: absolute;
        width: 92px;
        height: 33px;
        left: 400px;
        top: 170px;
        background: #0E333D;
        border-radius: 10px;
        color: white;
        cursor: pointer;
    }
    
}
@media(max-width:600px){
    table{
        position: absolute;
        width: 85%;
        height: 306px;
        left: 43px;
        top: 240px;
        background: #FFFFFF;
        border: 1px solid #494848;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        font-family: 'Inter', sans-serif;
        margin-bottom: 100px;
    }
    th{
        line-height: 5px;
        color: #000000;
    }
    #add{
        position: absolute;
        width: 92px;
        height: 33px;
        left: 364px;
        top: 170px;
        background: #0E333D;
        border-radius: 10px;
        color: white;
        cursor: pointer;
    }
    
}

@media(max-height:700px){
    table{
        position: absolute;
        width: 90%;
        height:498px;
        left: 32px;
        top: 240px;
        background: #FFFFFF;
        border: 1px solid #494848;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        font-family: 'Inter', sans-serif;
        margin-bottom: 100px;
}
    
    #model{
        position: absolute;
        width: 208px;
        height: 25px;
        left: 5%;
        top: 170px;
        font-family: 'Inter var', sans-serif; 
        font-weight: 700px;
        font-size: 19px;
        line-height: 31px;
        color: #3d6b00;
    }
}
@media(max-height:600px){
    #model{
        position: absolute;
        width: 208px;
        height: 25px;
        left: 7%;
        top: 170px;
        font-family: 'Inter var', sans-serif; 
        font-weight: 700px;
        font-size: 19px;
        line-height: 31px;
        color: #3d6b00;
    }
    table{
        position: absolute;
        width: 90%;
        height:522px;
        left:40px;
        top: 240px;
        background: #FFFFFF;
        border: 1px solid #494848;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        font-family: 'Inter', sans-serif;
        margin-bottom: 100px;
}
}
@media(max-height:500px){
    #model{
        position: absolute;
        width: 208px;
        height: 25px;
        left: 5%;
        top: 170px;
        font-family: 'Inter var', sans-serif; 
        font-weight: 700px;
        font-size: 19px;
        line-height: 31px;
        color: #3d6b00;
    }
    table{
        position: absolute;
        width: 90%;
        height: 406px;
        left: 20px;
        top: 240px;
        background: #FFFFFF;
        border: 1px solid #494848;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        font-family: 'Inter', sans-serif;
        margin-bottom: 100px;
}
    
}