#cl{
    position: absolute;
    width: 208px;
    height: 25px;
    left: 70px;
    top: 110%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #0E333D;
}
#add{
    position: absolute;
    width: 99px;
    height: 40px;
    left: 88%;
    top:110%;
    background: #0E333D;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
fieldset{
    position: absolute;
    top: 140%;
    left: 4%;
    width: 90%;
    height: 40%;
    border: 1px solid black;
    border-radius: 5px;
}
#nome-cliente{
    width: 50%;
    padding:10px;
    outline:none;  /*remove as bordas do input*/
    font-size: 20px;
}
.form-box{
    position: absolute;
    top: 320px;
    left: 120px;
}
.button-box{
    position: relative;
    width: 60px;
    height: 30px;
    background: #C1C1C1;
    border-radius: 50px;
}
.btn{
    position: relative;
    width: 30px;
    height: 25px;
    top: 2px;
    left: 21x;
    background: aqua;
    border-radius: 50px;
    cursor: pointer;
}