*{
    padding: 0;
    margin: 0;
    border: 0;
}

#head{
    position: absolute;
    width: 100%;
    height: 16%;
    left: 0px;
    top: 0px;
    background: #0E333D;
}
#logo{
    position: absolute;
    width: 147px;
    height: 83px;
    left: 45px;
    top: 34px;
    background: no-repeat;
    right: 300px;
}
#buscar{
    position: absolute;
    width: 44.4%;
    height: 41%;
    left: 17%;
    top: 40px;
    background: #FFFFFF;
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, .1);
    font-weight: 300;
    padding-left: 5%;
    font-size: 25px;
    color: #8795a2;
}
#lupa{
    box-sizing: border-box;
    position: absolute;
    left: 18%;
    right: 78.26%;
    top:37%;
    width: 2%;
    bottom: 90.92%;
    cursor: pointer;
}
#contenier{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left:68%;
    right: 7%;
    padding-right: 6%;
    top: 30%;
}
.info{
    right: 20%;
    padding-left: 25%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    text-decoration: none;
    color: white;
    position: static;
}
#perfil{
    padding-left: 90%;

}
.menu-dropdown{
    display: inline-block;
    position: relative;
}
.dropdown-content{
   display: none;
   position: absolute;
   background-color: white;
   min-width: 5%;
   box-shadow: 0px 5px 5px 3px;
   z-index:1;
   padding:22px 14px;
   padding-left: 10px;
   padding-top: 1%;
}
#left{
    width: 70px;
    margin-left: 25px;
 }
.dropdown-content ul {
    list-style-type: none;
    text-decoration: none;
    text-transform: none;
    font-weight: bold;
    color: black;
    font-size: 28px;
    top: 5%;
}
.dropdown-content a{
    list-style-type: none;
    text-decoration: none;
    color: black;  
}

.menu-dropdown:hover .dropdown-content {
   display: block;
   left: 20%;
}

@media(max-width:1600px){
    #left{
        margin-left: 5px;
     }
}
@media(max-width:1300px){
    .info{
        right: 20%;
        padding-left: 25%;
        font-size: 21px;
    }
    .dropdown-content ul {
        list-style-type: none;
        text-decoration: none;
        font-size: 21px;
        top: 5%;
    }
    #lupa{
        top:40%;
    }
    #left{
        width:50px;
        margin-left: 30px;
        margin-right: 10px;
     }
}
@media(max-width:1200px){
    .info{
        right: 26%;
        padding-left: 25%;
        font-size: 22px;
    }
    #logo{
        left: 28px;
    }
    #lupa{
        top:39%;
    }
   
}
@media(max-width:1100px){
    .info{
        right: 20%;
        padding-left: 25%;
        font-size: 18px;
    }
    #logo{
        position: absolute;
        width: 120px;
        height: 90px;
        left: 40px;
    }
    #buscar{
        position: absolute;
        width: 44.4%;
        height: 41%;
        left: 17%;
        font-size: 22px;
    }
    #lupa{
        top:43%;
    }
}
@media(max-width:1000px){
    .info{
        right: 20%;
        padding-left: 25%;
        font-size: 18px;
    }
    #logo{
        position: absolute;
        width: 120px;
        height: 70px;
        left: 30px;
    }
    #buscar{
        position: absolute;
        width: 41%;
        height: 39%;
        left: 17%;
        font-size: 18px;
    }
    #lupa{
        top:41%;
    }
}

@media(max-width:900px){
    .info{
        right: 20%;
        padding-left: 25%;
        font-size: 18px;
    }
    head{
        height: 13%;
    }
    #logo{
        position: absolute;
        width: 90px;
        height: 60px;
        left: 20px;
    }
    #buscar{
        position: absolute;
        width: 41%;
        height: 38%;
        left: 17%;
        font-size: 15px;
    }
    #lupa{
        top:44%;
    }
}
@media(max-width:800px){
    .info{
        right: 20%;
        padding-left: 25%;
        font-size: 18px;
    }
    head{
        height: 13%;
    }
    #logo{
        position: absolute;
        width: 90px;
        height: 60px;
        left: 20px;
    }
    #buscar{
        position: absolute;
        width: 41%;
        height: 41%;
        left: 17%;
        font-size: 15px;
    }
    #lupa{
        top:44%;
    }
    #perfil{
        padding-left: 30%;
    
    }
    #left{
        width:50px;
        margin-left: 1%;
     }
}
@media(max-width:700px){
    .info{
        right: 20%;
        padding-left: 25%;
        font-size: 16px;
    }
    #logo{
        position: absolute;
        width: 80px;
        height: 60px;
        left: 15px;
        top: 40px;
    }   
    #buscar{
        position: absolute;
        width: 40%;
        height: 32%;
        left: 17%;
        font-size: 11px;
        top: 50px;
    }
    #perfil{
        padding-left:30%;
    }
    #lupa{
        top:48%;
    }
}
@media(max-width:600px){
    head{
        height: 16%;
    }
    .info{
        right: 20%;
        padding-left: 25%;
        font-size: 16px;
    }
    #logo{
        position: absolute;
        width: 75px;
        height: 55px;
        left: 10px;
        top: 50px;
    }
    #buscar{
        position: absolute;
        width: 38%;
        height: 32%;
        left: 17%;
        font-size: 11px;
    }
    #perfil{
        padding-left:20%;
        font-size: 3px;
    }
    #lupa{
        top:48%;
    }
    #left{
        width:40px;
        margin-left: 0.2%;
     }
}