*{
    padding: 0;
    margin: 0;
    border: 0;
}

#head{
    position: absolute;
    width: 120%;
    height: 16%;
    left: 0px;
    top: 0px;
    background: #0E333D;
}
#logo{
    position: absolute;
    width: 7.5%;
    height: 52%;
    left: 3%;
    top: 20%;
    background: url(A2W\ PA\ branco\ \(2\)\(1\)\ 1.png);
}
#buscar{
    position: absolute;
    width: 50%;
    height: 43%;
    left: 17%;
    top: 40px;
    background: #FFFFFF;
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, .1);
    font-weight: 300;
    padding-left: 5%;
    font-size: 25px;
    color: #8795a2;
}
#lupa{
    box-sizing: border-box;
    position: absolute;
    left: 18%;
    right: 78.26%;
    top:37%;
    width: 2%;
    bottom: 90.92%;
    cursor: pointer;
}
#contenier{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left:80%;
    padding-right: 10%;
    top: 30%;
}
.info{
    right: 20%;
    padding-left: 35%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    text-decoration: none;
    color: white;
    position: static;
}
#perfil{
    right: 29%;
    padding-left: 40%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    text-decoration: none;
    color: white
}
.menu-dropdown{
    display: inline-block;
    position: relative;
}
.dropdown-content{
   display: none;
   position: absolute;
   background-color: white;
   min-width: 80px;
   box-shadow: 0px 7px 17px 0 rgba(red, green, blue, alpha);
   z-index:1;
   padding: 12px 12px;  
}
.dropdown-content ul {
    list-style-type: none;
    text-decoration: none;
    font-size: 20px;
    
}
.dropdown-content a{
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
    
}

.menu-dropdown:hover .dropdown-content {
   display: block;
}