* {
    padding: 0;
    margin: 0;
    border: 0;
}
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
#model{
    position: absolute;
    width: 208px;
    height: 25px;
    left: 5%;
    top: 19%;
    font-family: 'Inter var', sans-serif; 
    font-weight: 700px;
    font-size: 22px;
    line-height: 31px;
    color: #0E333D;
}
table,th,td{
    padding: 0% 70px;
    border: 1px solid black;
    font-size: 28px;
    border-collapse: collapse;
    font-weight: normal;
    font-family: 'Inter var';
    color: #0E333D;
}
table,th{
    text-align: center;
    padding-left: 500px;
}
table ,th,td:first-child{
    padding-top: 2%;

}
table ,th,td:last-child{
    padding-left:4%;
    padding-top: 1%;
}
table{
    position: absolute;
    top: 23%;
    left: 5%;
}
#check{
    min-width: 30px;
    min-height: 30px;
    padding-right: 10px;
}
#add{
    position: absolute;
    width: 99px;
    height: 40px;
    left: 88%;
    top:17%;
    background: #0E333D;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.circulo-verde{
    width: 30px;
    height: 30px;
    background-color: rgb(65, 199, 60);
    border-radius: 50px;
    margin-left: 25px;
}
.circulo-amarelo{
    width: 30px;
    height: 30px;
    background-color: rgb(204, 187, 31);
    border-radius: 50px;
    margin-left: 25px;
}
.circulo-vermelho{
    width: 30px;
    height: 30px;
    background-color: rgb(245, 10, 10);
    border-radius: 50px;
    margin-left: 25px;
}
