* {
    padding: 0;
    margin: 0;
    border: 0;
}
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
#model{
    position: absolute;
    width: 208px;
    height: 25px;
    left: 5%;
    top: 19%;
    font-family: 'Inter var', sans-serif; 
    font-weight: 700px;
    font-size: 22px;
    line-height: 31px;
    color: #0E333D;
}
th, td {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    color: #000000;
    width: 3px;
    border: 1px solid #000000;
    padding: 20px;
}
td{
    padding: 20px;
    text-align: center
}
table ,td,th{
    border-top: 1px solid black;
    border-collapse: collapse;    
}
#add {
    position: absolute;
    width: 86px;
    height: 35px;
    left: 90%;
    top: 216px;
    background: #0E333D;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
table{
    position: absolute;
    width:100%;
    height: 706px;
    left: 1px;
    top: 40px;
    background: #FFFFFF;
    border: 1px solid #494848;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 100px;
}
#tabela{
    position: absolute;
    width:90%;
    top: 260px;
    left: 4%;
}
.check{
    position: absolute;
    right: 30px;
    width: 30px;
    height: 30px;
    margin: -15px;
    background: #0E333D;
    
}

input[type=checkbox]:checked:before {
    content: "";
    display: block;
    position: absolute;
    width: 25px;
    height: 26px;
    top: 2.2px;
    left: 0px;
    background-color: #D9D9D9;
}
input[type=checkbox]:checked:before {
    content: "";
    display: block;
    position: absolute;
    width: 33px;
    height: 33px;
    top: 0.2px;
    left: 0px;
    background-color:#D9D9D9;
}
input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid rgb(27, 5, 5);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
    left: 15px;
}
#menu-start{
    position: absolute;
    width: 700px;
    height: 420px;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px black;
    top: 300px;
    left: 35%;
    visibility: hidden;
}
#parte-cima{
    position: absolute;
    width: 700px;
    height: 100px;
    background-color: #0E333D;
}
#parte-cima h1{
    position: absolute;
    color: white;
    font-size: 26px;
    top: 30px;
    left: 30px;
}
#fechar{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: rgb(83, 95, 95);
    left:85%;
    top:20%;
    cursor: pointer;
}
#xzinho{
    position: absolute;
    color: white;
    font-size: 30px;
    left: 20px;
    top: 15px;
}
#conteudo-start{
    position: absolute;
    top: 175px;
    left: 20px;
}
#conteudo-start h3, p{
    padding: 8px;
}
#menu-start #wor{
    position: absolute;
    top:22%;
    left: 27px;
}
#menu-start #wor{
    position: absolute;
    top:29%;
    left: 27px;
}
#menu-start #stat{
    position: absolute;
    top:28%;
    left: 480px;
}
#start-stop{
    display: flex;
    position: absolute;
    top: 74%;
    left: 27%;
}
#start-stop button{
    margin: 30px;
    font-size: 24px;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}
#green-btn{
    width: 100px;
    height: 50px;
    background-color: rgb(36, 172, 36);
    text-align: center;
}

#red-btn{
    width: 100px;
    height: 50px;
    background-color: red;
}
.circulo-verde{
    width: 30px;
    height: 30px;
    background-color: rgb(36, 172, 36);
    border-radius: 50px;
    margin-left: 85px;
}
.circulo-vermelho{
    width: 30px;
    height: 30px;
    background-color: rgb(238, 8, 8);
    border-radius: 50px;
    margin-left: 85px;
}
.circulo-amarelo{
    width: 30px;
    height: 30px;
    background-color: rgb(233, 200, 17);
    border-radius: 50px;
    margin-left: 85px;
}
@media(max-width:1600px){
    .circulo-verde{
        width: 30px;
        height: 30px;
        background-color: rgb(36, 172, 36);
        border-radius: 50px;
        margin-left: 60px;
    }
    .circulo-vermelho{
        width: 30px;
        height: 30px;
        background-color: rgb(238, 8, 8);
        border-radius: 50px;
        margin-left: 60px;
    }
    .circulo-amarelo{
        width: 30px;
        height: 30px;
        background-color: rgb(233, 200, 17);
        border-radius: 50px;
        margin-left: 60px;
    }
}
@media(max-width:1200px){
    .circulo-verde{
        width: 30px;
        height: 30px;
        background-color: rgb(36, 172, 36);
        border-radius: 50px;
        margin-left: 35px;
    }
    .circulo-vermelho{
        width: 30px;
        height: 30px;
        background-color: rgb(238, 8, 8);
        border-radius: 50px;
        margin-left: 35px;
    }
    .circulo-amarelo{
        width: 30px;
        height: 30px;
        background-color: rgb(233, 200, 17);
        border-radius: 50px;
        margin-left: 35px;
    }
    th, td {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        color: #000000;
        width: 3px;
        border: 1px solid #000000;
        padding: 20px;
    }
    td {
        padding: 13px;
        text-align: center;
    }
}
@media(max-width:1200px){
    .circulo-verde{
        width: 30px;
        height: 30px;
        background-color: rgb(36, 172, 36);
        border-radius: 50px;
        margin-left: 35px;
    }
    .circulo-vermelho{
        width: 30px;
        height: 30px;
        background-color: rgb(238, 8, 8);
        border-radius: 50px;
        margin-left: 35px;
    }
    .circulo-amarelo{
        width: 30px;
        height: 30px;
        background-color: rgb(233, 200, 17);
        border-radius: 50px;
        margin-left: 35px;
    }
    th, td {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        color: #000000;
        width: 3px;
        border: 1px solid #000000;
        padding: 20px;
    }
    td {
        padding: 13px;
        text-align: center;
    }
    #menu-start {
        position: absolute;
        width: 700px;
        height: 420px;
        background-color: #ffffff;
        box-shadow: 5px 5px 5px black;
        top: 300px;
        left: 18%;
        visibility: hidden;
    }
}
@media(max-width:1000px){
    .circulo-verde{
        width: 20px;
        height: 20px;
        background-color: rgb(36, 172, 36);
        border-radius: 50px;
        margin-left: 35px;
    }
    .circulo-vermelho{
        width: 20px;
        height: 20px;
        background-color: rgb(238, 8, 8);
        border-radius: 50px;
        margin-left: 35px;
    }
    #add {
        left: 81%;
    }
    .circulo-amarelo{
        width: 20px;
        height: 20px;
        background-color: rgb(233, 200, 17);
        border-radius: 50px;
        margin-left: 35px;
    }
    th, td {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        color: #000000;
        width: 3px;
        border: 1px solid #000000;
        padding: 20px;
    }
    td {
        padding: 13px;
        text-align: center;
    }
    input[type=checkbox]:checked:before {
        content: "";
        display: block;
        position: absolute;
        width: 25px;
        height: 27px;
        top: 0.2px;
        left: 0px;
        background-color: #D9D9D9;
    }
    #tabela {
        position: absolute;
        width: 84%;
        top: 260px;
        left: 4%;
    }
    input[type=checkbox]:checked:after {
        content: "";
        display: block;
        width: 5px;
        height: 11px;
        border: solid rgb(27, 5, 5);
        border-width: 0 3px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 4px;
        left: 10px;
    }
    .check {
        position: absolute;
        right: 30px;
        width: 23px;
        height: 30px;
        margin: -22px;
        background: #0E333D;
    }
    #menu-start {
        position: absolute;
        width: 640px;
        height: 403px;
        background-color: #ffffff;
        box-shadow: 5px 5px 5px black;
        top: 300px;
        left: 15%;
        visibility: hidden;
    }
    #parte-cima {
        position: absolute;
        width: 640px;
        height: 92px;
        background-color: #0E333D;
    }
}
@media(max-width:900px){
    th, td {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #000000;
        width: 3px;
        border: 1px solid #000000;
        padding: 20px;
    }
    .circulo-verde{
        margin-left: 17px;
    }
    .circulo-vermelho{
        margin-left: 17px;
    }
    .circulo-amarelo{
        margin-left: 17px;
    }
}
@media(max-width:800px){
    th, td {
        font-size: 14px;
    }
    #menu-start {
        position: absolute;
        width: 640px;
        height: 403px;
        background-color: #ffffff;
        box-shadow: 5px 5px 5px black;
        top: 300px;
        left: 10%;
        visibility: hidden;
    }
    #add {
        position: absolute;
        width: 66px;
        height: 28px;
        left: 88%;
        top: 216px;
        background: #0E333D;
        border-radius: 10px;
        color: white;
        cursor: pointer;
    }
}
@media(max-width:700px){
    th, td {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #000000;
        width: 3px;
        border: 1px solid #000000;
        padding: 17px;
    }
    th, td {
        font-size: 12px;
    }
    #menu-start {
        position: absolute;
        width: 640px;
        height: 403px;
        background-color: #ffffff;
        box-shadow: 5px 5px 5px black;
        top: 300px;
        left: -8%;
        visibility: hidden;
    }
}
@media(max-width:600px){
    th, td {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #000000;
        width: 3px;
        border: 1px solid #000000;
        padding: 17px;
    }
    th, td {
        font-size: 12px;
    }
    #menu-start {
        position: absolute;
        width: 640px;
        height: 403px;
        background-color: #ffffff;
        box-shadow: 5px 5px 5px black;
        top: 300px;
        left: -8%;
        visibility: hidden;
    }
}
