* {
    padding: 0;
    margin: 0;
    border: 0;
}
#model{
    position: absolute;
    width: 208px;
    height: 25px;
    left: 70px;
    top: 187px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #0E333D;
}
table,th,td{
    padding: 18px 40px;
    border: 1px solid black;
    font-size: 24px;
    text-align: center;
    border-collapse: collapse;
}
table{
    position: absolute;
    top: 20%;
    left: 5%;
}
.bola{
    width: 40%;
}
#check{
    width: 20px;
}
